/*
Paleta de cores utilizada no projeto
.color1 {color: #121a22;}
.color2 {color: #12496a;}
.color3 {color: #f28680;}
.color4 {color: #ecc857;}
.color5 {color: #e8eb93;}

*/
/******** HEADER ********/

main {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100vw;
    background-color: #121a22;
}

.menu-esquerda {
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    margin: 0.625rem;

    font-size: 3.150vw;

    color: #e8eb93;
}

.menu-esquerda .lobinho:hover {
    transform: scale(1.1);
}

.menu-direita {
    width: 50vw;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    margin-right: 0.938rem;

}

.menu-direita-burguer {
    display: none;

}

@media only screen and (max-width: 844px) {
    .menu-direita {
        display: none;
    }

    .menu-direita-burguer {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50vw;

        margin-right: 0.938rem;
    }

    #check-burguer {
        position: absolute;
        opacity: 0;
    }

    #check-burguer:checked~.m-burguer-links {
        z-index: 1;
    }

    .m-burguer-links a {
        left: calc(100vw - 100px);
        position: absolute;
        width: 100px;
        height: 30px;
        z-index: -1;
        transition: z-index 0.4s;
        color: #ecc857;
        text-decoration: none;
        border: 2px solid #12496a;
        justify-content: center;
    }

    .m-burguer-links a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .m-burguer-links a:nth-child(1) {
        margin-top: 6px;
        background-color: #121a22;
    }

    .m-burguer-links a:nth-child(2) {
        margin-top: 36px;
        background-color: #121a22;
    }

    .m-burguer-links a:nth-child(3) {
        margin-top: 66px;
        background-color: #121a22;
    }


    .menu-direita-burguer:hover {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        width: 50vw;

        margin-right: 0.938rem;
    }

    .menu-burguer-listra {
        width: 4vw;
        height: 0.5vw;
        background-color: #e8eb93;
        margin-top: 5px;
        border-radius: 5px;
        transition: 0.5s linear;
    }

    #check-burguer:checked~label .menu-burguer-listra:nth-child(1) {
        transform-origin: center center;
        transform: rotateZ(45deg);
    }

    #check-burguer:checked~label .menu-burguer-listra:nth-child(2) {
        display: none;
    }

    #check-burguer:checked~label .menu-burguer-listra:nth-child(3) {
        transform-origin: center center;
        transform: rotateZ(-45deg);
    }
}

.menu-direita a:hover {
    border-radius: 10px;
    background-color: #12496a;
}

.menu-direita-link {
    padding: 10px;
    margin: 5px;
    font-weight: 400;
    font-size: 22px;
    color: #e8eb93;

    text-decoration: none;
}

/******** SECTION1 : SOBRE ********/

.sobre {
    display: flex;
    flex-direction: row;

    width: 100vw;

    background-color: #12496a;
}

@media only screen and (max-width: 844px) {
    .sobre {
        display: flex;
        flex-direction: column;
    }
}

.sobre-esquerda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;


    margin-top: 35px;
    margin-bottom: 35px;
}

@media only screen and (max-width: 844px) {
    .sobre-esquerda {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100vw;


        margin-top: 35px;
        margin-bottom: 35px;
    }
}

.sobre-esquerda-img {
    border-radius: 180px;
    width: 247px;
    height: 247px;
}



.sobre-direita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vw;
}

@media only screen and (max-width: 844px) {
    .sobre-direita {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: 15px 10px;
        align-items: center;
    }
}

.sobre-direita-titulo {
    font-weight: 400;
    font-size: 40px;
    color: #ecc857;

    margin-bottom: 10px;
}

.sobre-direita-paragrafo {
    font-weight: 400;
    font-size: 20px;
    color: #ecc857;

    width: 40vw;
}

@media only screen and (max-width: 844px) {
    .sobre-direita-titulo h1 {
        align-items: flex-start;

        font-weight: 400;
        font-size: 40px;
        color: #ecc857;

        margin-bottom: 10px;
    }

    .sobre-direita-paragrafo {
        font-weight: 400;
        font-size: 20px;
        color: #ecc857;

        width: 80vw;
    }
}

/******** SECTION1 : LISTAS ********/

.listas {
    display: flex;
    flex-direction: row;

    background-color: #e8eb93;
}

@media only screen and (max-width: 844px) {
    .listas {
        display: flex;
        flex-direction: column;

        background-color: #e8eb93;
    }
}

/******** SECTION1 : LISTAS - ESQUERDA ********/
.lista-esquerda {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    flex-wrap: wrap;

    width: 50vw;
}

@media only screen and (max-width: 844px) {
    .lista-esquerda {
        display: flex;
        flex-direction: column;

        justify-content: space-between;
        flex-wrap: wrap;

        width: 100vw;
    }
}



.titulo-e {
    margin-top: 15px;
    margin-right: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    font-size: 18px;
    font-weight: 900;
    color: #121a22;
}

@media only screen and (max-width: 844px) {
    .titulo-e {
        margin-top: 5px;
        margin-left: 5px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        font-size: 18px;
        font-weight: 900;
        color: #121a22;
    }
}

.grupo-cards-e {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media only screen and (max-width: 844px) {
    .grupo-cards-e {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    padding: 1.063rem;
    width: 92px;
    height: 130px;


    border-radius: 0.313rem;
    background: #12496a;
    margin-top: 2.188rem;
    margin-bottom: 2.188rem;
    margin-left: 0.313rem;
    margin-right: 0.313rem;

    color: #e8eb93;

    transition: scale 0.5s;
}

.card-b-1 {
    background-repeat: no-repeat;
    background-size: 10% 15%;
    background: url('/imagens/AoT.jpg');
}

.card-b-2 {
    background-repeat: no-repeat;
    background-size: 92px 130px;
    background: url('/imagens/Boku no Hero.jpg');
}

.card-b-3 {
    background-repeat: no-repeat;
    background-size: 92px 130px;
    background: url('/imagens/bleach.jpg');
}

.card-b-4 {
    background-repeat: no-repeat;
    background-size: 92px 130px;
    background: url('/imagens/kaguya.jpg');
}

.card-b-5 {
    background-repeat: no-repeat;
    background-size: 92px 130px;
    background: url('/imagens/berserk.jpg');
}

.card:hover {
    scale: 1.2;
}

@media only screen and (max-width: 1360px) {
    .card {
        font-size: 45%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        padding: 0.63rem;
        gap: 0.625rem;

        width: 6vw;
        height: 9.5vw;
        background: #12496a;
        border-radius: 0.313rem;

        margin-top: 2.188rem;
        margin-bottom: 2.188rem;
        margin-left: 0.313rem;
        margin-right: 0.313rem;

        color: #e8eb93;

        transition: scale 0.5s;
    }

    .card-b-1 {
        width: 10px;
        height: 20px;
        color: #e8eb93;
        background-color: #121a22;
    }

    .card:hover {
        scale: 1.5;
    }
}


/******** SECTION1 : LISTAS - DIREITA ********/

.lista-direita {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

@media only screen and (max-width: 844px) {
    .lista-direita {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }
}

.titulo-d {
    margin-top: 15px;
    margin-left: 15px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    font-size: 18px;
    font-weight: 900;
    color: #121a22;
}

@media only screen and (max-width: 844px) {
    .titulo-d {
        margin-top: 5px;
        margin-left: 5px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        font-size: 18px;
        font-weight: 900;
        color: #121a22;
    }
}

.grupo-cards-d {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@media only screen and (max-width: 844px) {
    .grupo-cards-d {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}


/******** FOOTER ********/

.rodape-principal {
    display: flex;
    flex-direction: column;

    background-color: #121a22;
}

.rodape-grupo-links {
    display: flex;
    flex-direction: row;

}

@media only screen and (max-width: 844px) {

    .rodape-grupo-links {
        display: flex;
        flex-direction: column-reverse;

    }
}

.grupo-links-esquerda {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;


}

@media only screen and (max-width: 844px) {
    .grupo-links-esquerda {
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
    }

    .grupo-links-esquerda a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        width: 30px;
        height: 30px;
        background-color: #12496a;
        border-radius: 180px;

        margin: 5px;
        padding: 5px;
        text-decoration: none;
        color: #e8eb93;
    }

}

.grupo-links-esquerda a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    width: 30px;
    height: 30px;
    background-color: #12496a;
    border-radius: 180px;

    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #e8eb93;
}

.grupo-links-direita {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


    width: 50vw;

}

@media only screen and (max-width: 844px) {
    .grupo-links-direita {
        margin: 5px 0px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100vw;

    }
}

.grupo-links-direita a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 150px;

    background-color: #12496a;
    border-radius: 5px;

    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: #e8eb93;
}

.rodape-grupo-citacao {
    margin: 5px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 18px;

    color: #e8eb93;
}

@media only screen and (max-width: 844px) {
    .rodape-grupo-citacao {
        margin: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 16px;

        color: #e8eb93;
    }
}